body{
    width: 100%;
    height: 100%;
    display: flex;
}

.container{
    width: 100%;
    height: 145vh;
    display: flex;
    background-color: black;
    flex-direction: column;
}

.main{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direitos{
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
}
.button {
    background-color: #35b084;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

@-webkit-keyframes glowing {
    0% { background-color: #35b084; -webkit-box-shadow: 0 0 3px #35b084; }
    50% { background-color: #8BC34A; -webkit-box-shadow: 0 0 3px #8BC34A; }
    100% { background-color: #35b084; -webkit-box-shadow: 0 0 3px #35b084; }
}

.button {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}
